Devote.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Devote.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Devote.xcodeproj/project.xcworkspace/xcuserdata/noelvelasco.xcuserdatad/UserInterfaceState.xcuserstate
Devote.xcodeproj/xcuserdata/noelvelasco.xcuserdatad/xcschemes/xcschememanagement.plist
